<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <resizer>
    <diskCache dir="~/upload/_imagecache" autoClean="true" hashModifiedDate="true" enabled="true" subfolders="32" cacheAccessTimeout="15000" asyncWrites="false" asyncBufferSize="10485760" />
    <cleanupStrategy startupDelay="00:05" minDelay="00:00:20" maxDelay="00:05" optimalWorkSegmentLength="00:00:04" targetItemsPerFolder="400" maximumItemsPerFolder="1000" avoidRemovalIfCreatedWithin="24:00" avoidRemovalIfUsedWithin="4.00:00" prohibitRemovalIfUsedWithin="00:05" prohibitRemovalIfCreatedWithin="00:10" />
    <clientcache minutes="14400" />
    <presets />
    <plugins>
      <add name="DiskCache" />
    </plugins>
  </resizer>
  <connectionStrings>
    <add name="FermaksanEntities" connectionString="metadata=res://*/FermaksanModel.csdl|res://*/FermaksanModel.ssdl|res://*/FermaksanModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=2106;persistsecurityinfo=True;database=fermaksan;charset='latin5';Convert Zero Datetime=true; Allow Zero Datetime=true&quot;" providerName="System.Data.EntityClient" />
    <add name="FermaksanConnection" connectionString="server=localhost;User Id=root;password=2106;database=fermaksan;charset='latin5';Pooling=True;Minimum Pool Size=10;Maximum Pool Size=100;default command timeout=10000;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="MySql.Data, Version=6.10.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ny" namespace="NecmettinYanik.Kontroller" assembly="Kontroller" />
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.8.0" newVersion="6.10.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <rewriter>
    <rewrite url="~/(.+(\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js)(\?.+)?)$" to="~/$1" processing="stop" />
    <rewrite url="~/admin/(.+).aspx" to="~/admin/$1.aspx" processing="stop" />
    <rewrite url="~/(tr|en)/MakineDetay/(.+)/(.+)/(.+),product" to="~/MakineDetay.aspx?Dil=$1&amp;MakineId=$2" />
    <!--<rewrite url="~/(tr|en)/Makineler/(.+)/(.+)" to="~/Makineler.aspx?Dil=$1&amp;KategoriId=$2" processing="stop"/>-->
    <rewrite url="~/(tr|en)/Makineler" to="~/Makineler.aspx?Dil=$1" processing="stop" />
    <rewrite url="~/(tr|en)/Sektorler/(.+)/(.+)" to="~/Sektorler.aspx?Dil=$1&amp;Id=$2" processing="stop" />
    <rewrite url="~/(tr|en)/Sektorler" to="~/Sektorler.aspx?Dil=$1" processing="stop" />
    <rewrite url="~/(tr|en)/Servis" to="~/Servis.aspx?Dil=$1" processing="stop" />
    <rewrite url="~/(tr|en)/Iletisim" to="~/Iletisim.aspx?Dil=$1" processing="stop" />
    <rewrite url="~/(tr|en)/404" to="~/404.aspx?Dil=$1" processing="stop" />
    <rewrite url="~/(tr|en)/(.+),content" to="~/CMS.aspx?Dil=$1&amp;Kod=$2" processing="stop" />
    <rewrite url="~/(tr|en)" to="~/Default.aspx?Dil=$1" />
  </rewriter>
</configuration>